.editIcon{
    text-decoration: none;
    color: black;
}

.editIcon:hover{
    color: #d4871d;
}

.InteractiveButton{
    color: white;
    background-color: black;
    border-color: black;
}

.InteractiveButton:hover{
    color: white;
    background-color: #d4871d;
    border-color: #d4871d;
}

.InteractiveButton:active{
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}