.editIcon {
  text-decoration: none;
  color: black;
}

.editIcon:hover {
  color: #d4871d;
}

.InteractiveButton {
  color: white;
  background-color: #e7a243;
  border-color: #e7a243;
}

.InteractiveButton:hover {
  color: white;
  background-color: #d4871d;
  border-color: #d4871d;
}

.InteractiveButton:active {
  color: white !important;
  background-color: #e7a243 !important;
  border-color: #e7a243 !important;
}

.dashboardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboardRow {
  display: inline-flex;
  width: 80%;
}
.dashboardCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: 1px solid rgba(139, 139, 139, 0.5);
  width: 50%;
  background-color: white;
}

.nav-link {
  color: white !important;
}

.active {
  font-weight: bold !important;
}


.cardTable {
  padding: 5px;
  width: 60%;
  background-color: rgba(60, 156, 86, 0.1);
  border-radius: 6px;
  min-height: 60vh;
}

.table {
  margin-bottom: 0;
  border: 1px solid rgba(21, 54, 50, 1) !important;
  overflow: hidden;
  border-radius: 6px;
}
.cardTableDashboard {
  height: fit-content;
  max-height: 300px;
  width: 100%;
  min-height: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

element::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}
